{% extends "common/layout.html" %}
{% block body %}

<div class="blog-post">
    {% for article in articles %}
    <h2 class="blog-post-title"><a href="{{ url_for('main.single', slug=article.slug) }}">{{ article.title}}</a></h2>
    <p class="blog-post-meta">{{ article.created_at.strftime('%d-%m-%Y') }} par <a href="#">Mark</a></p>
      {{ article.content }}
    {% endfor %}
</div>
<!-- /.blog-post -->


<nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>

<!-- /.blog-main -->
{% endblock %}
