{% extends "common/layout.html" %}
{% block body %}
<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <th scope="row">{{ company.id }}</th>
                <td>{{ company.name }}</td>
                <td><a href="{{ company.web_site }}" target="_blank">{{ company.web_site }}</a></td>
                <td>{{ company.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
