{% extends "common/layout.html" %}
{% block title %}{{ article.title}}{% endblock %}
{% block body %}

<div class="blog-post">
    <h2 class="blog-post-title">{{ article.title}}</h2>
    <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
    {{ article.content}}
</div>
<!-- /.blog-post -->


<nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
</nav>

<!-- /.blog-main -->
{% endblock %}
